* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: #fff;
}

.container {
	margin: 0;
	width: 1200px;
	min-height: calc(100vh - 30px);
	margin: 0 auto;
	padding: 10px 0;
	background-color: #fff;
}

.container header {
	width: 100%;
}

header .nav {
	position: relative;
	/* display: grid;
	grid-template-columns: repeat(auto-fill, 120px);
    align-content: center; */
	display: flex;
	justify-content: center;
	max-width: 800px;
	height: 48px;
	margin: 10px auto;
	border-radius: 24px;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4),
		0px 0px 10px rgba(0, 0, 0, 0.15);
}

.nav .nav-item {
	position: relative;
	width: 120px;
	box-sizing: content-box;
	padding: 10px 0;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	transition: all 0.2s;
}

.nav .nav-this::after {
	content: attr(data-content);
	position: absolute;
	bottom: 0px;
	left: calc(50% - 5px);
	width: 20px;
	height: 6px;
	border-radius: 3px;
	background-color: #fd5f00;
	transition: all 0.2s;
}

.nav .nav-this {
	color: #fd5f00;
}

.nav .nav-item a {
	color: inherit;
}

.main {
	width: 100%;
	margin-top: 30px;
	width: calc(100% - 100px);
	padding: 0 50px;
}

.main .main-content {
	display: flex;
	margin: 10px auto;
	padding: 25px 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4),
		0px 0px 10px rgba(0, 0, 0, 0.15);
}

.user-box {
	width: 960px;
	flex-direction: row;
	justify-content: space-around;
}

.main-content .user-logo-box {
	width: 200px;
	padding-top: 10px;
}
.main-content .user-logo-box h2 {
	line-height: 60px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
.main-content .user-logo-box .img-box {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.user-box .user-info {
	width: calc(100% - 360px);
}

.user-info .info-piece {
	display: grid;
	grid-template-columns: 100px auto;
	margin: 10px 0;
	font-size: 15px;
	line-height: 32px;
}

.info-piece .piece-title {
	color: #666;
}

.layui-form {
	width: 540px;
	padding: 0 90px;
}
.layui-form .layui-input-block {
	padding-left: 20px;
}

.info-btn-box {
	text-align: right;
	margin-right: -200px;
}

.info-btn-box button {
	background-color: #ff6768;
}

/***************** list **********************/

.list-box {
	position: relative;
	min-height: 150px;
	padding: 35px 20px 0px !important;
	/* grid-template-columns: auto auto auto auto; */
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
}

.list-box .list-item {
	position: relative;
	display: grid;
	grid-template-columns: 84px auto;
	width: 242px;
	height: 118px;
	padding: 5px;
	margin: 15px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7),
		0px 0px 10px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.list-item .delete-btn {
	position: absolute;
	top: 2px;
	right: 2px;
	display: inline-block;
	padding: 3px;
	font-size: 20px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	opacity: 0.2;
	transition: all 0.2s;
}

.list-item .delete-btn:hover {
	color: #1F6ED4;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	opacity: 1;
}

.delete-btn::before:hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(3px);
}

.list-item .img-box {
	width: 84px;
	height: 118px;
	border-radius: 4px;
	overflow: hidden;
}

.img-box img {
	width: 100%;
	height: 100%;
}

.list-item .item-info {
	padding-left: 10px;
	line-height: 28px;
}

.item-info .item-title {
	padding-bottom: 18px;
	font-size: 17px;
	font-weight: bold;
	line-height: 24px;
	height: 48px;
	display: -webkit-box !important;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.item-info .item-title:hover {
	color: #005792;
}

.item-info .item-type {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-box::after {
	position: absolute;
	right: 15px;
	top: 10px;
	color: #005792;
	font-size: 17px;
	font-weight: bold;
}
/************ collect ***************/

.collect-box::after {
	content: attr(collect-info);
}

/************ collect ***************/

.history-box::after {
	content: attr(history-info);
}

textarea {
	resize: none;
}
