<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/public.css" media="all">
    <link rel="stylesheet" href="../../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../../static/css/video/index.css">
</head>

<body>
    <div class="layui-container layui-layout">
        <div class="layui-header">
            <div class="website-logo">VIDEO WEBSITE</div>
            <ul class="layui-nav" lay-filter="nav-items">
                <li class="layui-nav-item layui-this" id="home"><a href="">首页</a></li>
                <li class="layui-nav-item" id="movie"><a href="#">电影</a></li>
                <li class="layui-nav-item" id="episode"><a href="#">剧集</a></li>
                <li class="layui-nav-item" id="cartoon"><a href="#">动漫</a></li>
                <li class="layui-nav-item" id="others"><a href="#">其他</a></li>
                <li class="layui-nav-item" id="library"><a href="#">片库</a></li>
                <li class="search-box layui-layout-right">
                    <form action="/" method="post">
                        <input type="text" name="title" placeholder="请输入搜索内容" autocomplete="off" class="layui-input">
                        <button class="layui-btn search-btn" lay-submit lay-filter="search-btn"><i
                                class="fa fa-search"></i></button>
                    </form>
                </li>
                <li class="user-box layui-layout-right">
                    <!-- <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退了</a></dd>
                </dl> -->
                    <div class="login-box">
                        <a href="">登录</a>
                        <a href="">注册</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="layui-body">
            <iframe src="video/home.html" frameborder="0" id="content-iframe" style="width: 100%;" onload="reHeight();"></iframe>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            底部固定区域
        </div>
    </div>
</body>
<script src="../../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="../../static/js/video/index.js"></script>

</html>